html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

:root {
  --densha-height: calc(min(max(800px, 95vh), 1200px));
  --densha-width: calc(min(max(800px, 95vh), 1200px) * 1400/788);
  --led-width: calc(var(--densha-width) * 0.22);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
