.container {
    padding: 0;
    margin-top: calc(var(--densha-height) * 0.06);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(var(--led-width));
    position: absolute;
    top: 0;
    overflow: hidden;
}

.ledtext {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: calc(var(--densha-height) * 0.028);
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgba(246, 20, 46, 1);
    text-shadow: 0 0 3px rgba(246, 20, 46, 1);
    transform: rotate3d(1, 0, 0, -15deg);
    /* Animation for the LED */
    animation-duration: 20s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-name: slideText;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: translateX(3%);
}

@keyframes slideText {
    from, 10% {
        transform: translateX(3%);
    }

    /* This is for a bit delay between each iteration */
    90%, to {
        transform: translateX(calc(-100% + var(--led-width)));
    }
}
