.container {
    padding: 0;
    margin-top: calc(var(--densha-height) * 0.06);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(var(--led-width));
    position: absolute;
    top: 0;
    overflow: hidden;
}

.ledtext {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: calc(var(--densha-height) * 0.028);
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgba(246, 20, 46, 1);
    text-shadow: 0 0 3px rgba(246, 20, 46, 1);
    /* Animation for the LED */
    animation: slideText 20s linear 3s infinite normal, textflicker 1s ease-in-out 3s infinite alternate;
    transform: rotate3d(1, 0, 0, -18deg) translateX(3%);
}

@keyframes slideText {
    from, 10% {
        transform: rotate3d(1, 0, 0, -15deg) translateX(3%);
    }

    /* This is for a bit delay between each iteration */
    90%, to {
        transform: rotate3d(1, 0, 0, -15deg) translateX(calc(-100% + var(--led-width)));
    }
}

@keyframes textflicker {
	from {
		text-shadow: 0 0 1px rgba(246, 20, 46, 0.2);
	}
	80%, to {
		text-shadow: 0px 2px 4px rgba(246, 20, 46, 1);
	}
}
